*.zip
*.user
*.pfx
*.dll
*.vs/*
*bin/*
*obj/*
*packages/*
*node_modules/*
CFLApp/server
*.idea/*
/CFLServer/bin/Debug/Telerik.Windows.Controls.Diagrams.Extensions.xml
/CFLServer/bin/Debug/Telerik.Windows.Controls.Diagrams.xml
/CFLServer/bin/Debug/Telerik.Windows.Controls.Data.xml
/CFLServer/bin/Debug/System.Reflection.Metadata.xml
/CFLServer/bin/Debug/System.Collections.Immutable.xml
/CFLServer/bin/Debug/Telerik.Windows.Diagrams.Core.xml
/CFLServer/bin/Debug/Telerik.Windows.Data.xml
/CFLServer/bin/Debug/Telerik.Windows.Controls.xml
/CFLServer/bin/Debug/Telerik.Windows.Controls.Navigation.xml
/CFLServer/bin/Debug/Telerik.Windows.Controls.Input.xml
/CFLServer/obj/Debug/CFLServer.csproj.CFLServer.exe.config
*.cache
